Package: pigfetch-dbgsym
Package-Type: ddeb
Source: pigfetch
Version: 1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Justiks <dubkovmacsim@yandex.ru>
Installed-Size: 2421
Depends: pigfetch (= 1.0-1)
Section: debug
Priority: optional
Description: debug symbols for pigfetch
Build-Ids: 4666bdf9a663c01b23b037a4d2410a9832021cc4
